@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons|Material+Icons+Outlined');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #f2f2f2;
  --black: "#000";
  --grey: "#2c2c2c";
  --darkest-grey: "#202020";
  --red: "#e83f5b";
  --green: "#4cd62b";
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--darkest-grey);
}

.msg-error {
  background-color: var(--red);
  color: var(--white);
}

.msg-success {
  background-color: var(--green);
  color: var(--white);
}